<?xml version="1.0" encoding="UTF-8" ?>
<configuration  scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>logproducer</contextName>
    <property name="Log_Home" value="." />

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>DEBUG</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <file>${Log_Home}/logproducer.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${Log_Home}/logproducer-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 2MB, keep 30 days worth of history, but at most 2GB -->
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash;<filter class="ch.qos.logback.classic.filter.LevelFilter">&ndash;&gt;-->
            <!--&lt;!&ndash;<level>INFO</level>&ndash;&gt;-->
            <!--&lt;!&ndash;<onMatch>ACCEPT</onMatch>&ndash;&gt;-->
            <!--&lt;!&ndash;<onMismatch>DENY</onMismatch>&ndash;&gt;-->
        <!--&lt;!&ndash;</filter>&ndash;&gt;-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--the level of the root level is set to DEBUG by default. (TRACE,DEBUG, INFO, WARN, ERROR) -->
    <root level="DEBUG">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE_INFO" />
    </root>
</configuration>